.Predicate-Builder {
  background-color: rgb(244, 244, 244);
  color: rgb(121, 121, 121);
  width: 100vw;
  height: 100vh;
  padding: 10px;
  padding-top: 0;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: "header";
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  grid-area: "main";
  border-top: 1px solid rgb(143, 143, 143);
}

footer {
  grid-area: "footer";
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-btn {
  background-color: #2a92e7;
  color: #fff;
  height: 32px;
  width: 200px;
  font-weight: 500;
}

.query-row-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-row-btn {
  background-color: #2a92e7;
  color: #fff;
  height: 40px;
  width: 120px;
  font-weight: 500;
}
