body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 3px;
  text-decoration: none;
  background: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

button:hover,
button:focus {
  background: #e4e4e4;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(233, 233, 233);
  color: rgb(143, 143, 143);
  width: 100vw;
  height: 100vh;
  padding: 10px;
  padding-top: 0;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  grid-template-areas: 
   "header"
   "main"
   "footer";
}

header {
  grid-area: "header";
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  grid-area: "main";
  border-top: 1px solid rgb(143, 143, 143);
}

footer {
  grid-area: "footer";
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-btn {
  background-color: #3087f8;
  color: #fff;
  height: 30px;
  width: 200px;
}


.query-row-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-row-btn {
  background-color: #3087f8;
  color: #fff;
  height: 30px;
  width: 200px;
}



.query-row-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-left: 1px;
}

.remove-btn {
  background: white;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

select {
  appearance: none;
  margin-right: 5px;
  height: 30px;
  padding-left: 10px;
  min-width: 205px;
  border-radius: 3px;
  font-size: 14px;
}

.is-and-div {
  background-color: #c5d3dd;
  color: black;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 3px;
}

input {
  margin-right: 5px;
  height: 30px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  font-size: inherit;
}

.custom-select {
  position: relative;
}

img {
  position: absolute;
  height: 0.4em;
  right: 15px;
  top: 50%;
  margin-top: -2px;
  pointer-events: none;
}